/* Paramètres Généraux */

:root{
    --color-primary: #1179A3;
    --color-secondary: #EA6143;
    --color-tertiary: #fefeff;
}  

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url();
}

*::selection{
    background: var(--color-primary);
    color: #fefeff;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary);
    color: #fefeff;
}

a{
    text-decoration: none;
    color: #fefeff;
    display: block;
    text-align: center;
}

/* Paramètres par ordre d'apparition */

.container{
    width: 40%;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.close{
    position: absolute;
    background-color: #000101;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: -25px;
    right: -125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    position: absolute;
    top: 20px;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: #f1f1f1;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    border-radius: 2px;
}

.line:nth-child(2) {     
        transform: translate(-50%, -50%);
        transform: rotate(-45deg);  
}

.title{
    margin: 0 auto;
    width: 70%;
}
.title h1{
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: 60%;
}
.text p{
    font-size: calc(0.7rem + 0.5vw);
    line-height: calc(2rem + 0.5vw);
}
.img{
    width: 40%;
}
img{
    width: 100%;
    min-width: 200px;
    margin-bottom: 55px;
    object-fit: cover;
}
.callToAction a:nth-child(1){
    width: 70%;
    margin: 1rem auto;
    font-size: calc(0.7rem + 0.5vw);
    line-height: calc(2rem + 0.5vw);
    padding: 10px;
    background-color: var(--color-secondary); 
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0);   
    transition: all 0.2s ease;

}

.callToAction a:nth-child(1):hover{
    box-shadow: 0 3px rgba(0, 0, 0);
    transform: translateY(3px);
}
.callToAction a:nth-child(1):active{
    box-shadow: 0 0 rgba(0, 0, 0);
    transform: translateY(6px);
}

.callToAction a:nth-child(2){
    width: 70%;
    margin: 1rem auto;
    font-size: calc(0.4rem + 0.5vw);
    line-height: calc(2rem + 0.5vw);
    padding: 10px;
       
}
